.layout {
  min-height: calc(100vh - 64px);
  background-color: rgba(246, 247, 248, 0.5) ;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: black;
}

.text-underline:hover {
  text-decoration: underline;
}
